<section class='container slide right' id='feedback-slide'>
  <div class='description'>
    <div class='title'>피드백</div>
    <div class='detail'>하단의 버튼을 클릭하여 피드백을 받아보세요!</div>
    <div id='feedback-tip'>
      <img src='/images/question-mark.png' />
      <span class="tooltip left">
        글을 평가하는 기준이에요!<br><br>

        내용: 정확성, 연관성, 타당성<br><br>

        구성: 적절성, 통일성, 일관성<br><br>

        표현: 어휘와 문장 구조의 적절성<br><br>

        문법: 주술관계, 문법의 오류
      </span>
    </div>
  </div>
  <div style='position: relative; width: 100%; height: 100%; overflow: auto;'>
    <div id='feedback-content'></div>
    <div class='dim'>
      <h3>이전 피드백 내용이에요!</h3>
      <h4>새로운 피드백을 받고 싶다면 아래 버튼을 클릭해주세요</h4>
    </div>
  </div>
  {{> components/button-group
    size="medium"
    buttons='[{"type": "default", "id": "feedback-btn", "label": "피드백"}]'
  }}
</section>