#cursor-box {
  position: absolute;
  visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.2rem;

  border: var(--border-size--thin) solid var(--border-color--dark);
  border-radius: var(--border-radius--small);

  background-color: white;
  color: var(--font-color--secondary);

  font-size: var(--font-size--medium);
  font-family: var(--font-family--editor);

  z-index: var(--z-index--high);
  pointer-events: none;
}
