.highlight.green {
  background-color: var(--highlight-green);
}

#repetitive-btn {
  padding: 0.5rem;

  font-size: var(--font-size--small);

  color: var(--secondary-color);
  background-color: var(--primary-color);

  border-radius: var(--border-radius--large);
}

.green-text {
  color: green;
  font-weight: 600;
}
